* {
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #bd945f;
    --text-color: #222222;
}


/* font setting */

@font-face {
    font-family: "gotham-family";
    src: url(../front/Gotham-Medium.otf);
    font-family: "gotham-linear";
    src: url(../front/Gotham-Thin.otf);
    font-family: "gotham-utral";
    src: url(../front/Gotham-Ultra.otf);
}

* {
    font-family: "gotham-family";
}

.main {
    width: 100%;
}

.header {
    padding: 10px 0px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 80px;
}

.navBar__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.navBar__list-item {
    margin: 0 10px;
}

.navBar__list--link {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

.featured--content {}

.featured-name {
    font-size: 18px;
    text-transform: capitalize;
}

.evaluate--list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.evaluate--list li {
    padding: 5px;
    margin: 0;
}

.note-product {}

.price-product {
    padding: 7px 0px;
    font-weight: 800;
    font-size: 16px;
}

.slick-prev:before,
.slick-next:before {
    background-color: var(--primary-color);
}