.main {
    width: 100%;
}

.header {
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 120px;
}

.navBar__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.navBar__list-item {
    margin: 0 20px;
}

.navBar__list--link {
    color: var(--text-color);
    text-decoration: none;
}