.content {
    width: 100%;
}

.content__banner {
    width: 100%;
}

.content--list-image {
    width: 100%;
    max-width: 1300px;
}

.content--image {
    width: 100%;
}

.banner--content {}

.banner--content-title {}

.banner--content-text {
    text-transform: uppercase;
    font-family: 800;
    font-family: "gotham-utral";
    font-size: 46.43pt;
}