.content__featured-slider {
    width: 100%;
    height: auto !important;
    overflow: hidden;
}

.slider--list {
    width: 100%;
}

.slider--item {
    width: 100%;
}

.slider--image {
    width: 100%;
}