.content__featured-slider {
    width: 100%;
    margin: auto !important;
    max-width: 1600px;
    height: auto;
    /* set max height */
    overflow: hidden;
}

.slider--list {
    width: 100%;
}

.slider--item {
    width: 100%;
}

.slider--image {
    width: 100%;
}

.slider--image img {
    /* width: 100%; */
    height: 100%;
}