@media (min-width:767px) {
    #mobileMenu {
        display: none;
    }
}

@media (max-width: 767px) {
    #mobileMenu {
        display: block;
    }
    .logo--block {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navBar {
        display: block;
        height: auto;
    }
    .menu-mobile {
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 0px;
        background-color: var(--primary-color);
    }
    .navBar__list {
        display: none;
        width: 100%;
    }
    .navBar__list-item {}
    .content__focut {
        position: static;
    }
    .focut--item {
        width: 50%;
    }
    .content__banner {
        display: none;
    }
}